
.about-section-box .img-fluid {
    box-shadow: 20px 20px 0px #42273B;
}
.inner-column {
    text-align: left;
}
 .inner-column h1 {
    color: #010101;
    font-weight: 500;
}
.inner-column h1 span {
    color: #42273B;
    font-weight: 600;
}