<div class="about-section-box " [ngStyle]="{'background': 'url(assets/img/nice.jpg) ', 'backgroundSize': 'cover', 'padding': '70px 0'}">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 text-center">
				<div class="container inner-column">
					<h1>Welcome To <span>JustFoodie Restaurent</span></h1>
					<h4>Little Story</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque auctor suscipit feugiat. Ut at pellentesque ante, sed convallis arcu. Nullam facilisis, eros in eleifend luctus, odio ante sodales augue, eget lacinia lectus erat et sem.</p>
					<p>Sed semper orci sit amet porta placerat. Etiam quis finibus eros. Sed aliquam metus lorem, a pellentesque tellus pretium a. Nulla placerat elit in justo vestibulum, et maximus sem pulvinar.</p>
					<a class="btn btn-warning" [ngStyle]="{'textAlign': 'right'}" href="#">Reservation</a>
				</div>
			</div>
			<div class="col-lg-5 col-md-5 col-sm-12"><img src="assets/img/about-img.jpg" alt="" class="img-fluid"></div>
		</div>
	</div>
</div>