<section id="about"
  [ngStyle]="{'marginTop': '4rem', 'background': 'url(https://lh3.googleusercontent.com/proxy/gee5dgzVpZeMjziqiW-t40CtCDRDQhXOaXgh4jXWb0XkkVKcSderYUCb0AzoxgNukfosi2FFfNKh49aKxbGocxgGMcp5E3hb840GieNUqnnnhzEJFT3bwamka15U6w) center/cover no-repeat'}"
  class="about">
  <div class="container-fluid">

    <div class="row">

      <div class="col-lg-5 align-items-stretch"
        [ngStyle]="{'background': 'url(https://www.restaurantsatbains.com/images/rsb_content_kitchen_1_1000.jpg) center/cover no-repeat'}">
      </div>

      <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">

        <div class="about-title content">
          <h2>About <span>Us</span></h2>
          <p [ngStyle]="{'color': '#000', 'fontSize': '18px'}">JustFoodie is an elegant fine dining restaurant with an emphasis on natural, sustainable food, sourced from
            the Nigeria's
            most dedicated farmers and food producers.

            We create beautifully crafted dishes, seeking out the best of African produce, with a passion to delight and
            share our curiosity and our love of delicious artisanal food.
          </p>
          <p [ngStyle]="{'color': '#000', 'fontSize': '18px'}">
            We offer a 10 course tasting menu that changes with the seasons and is produce and flavour driven.
          </p>
          <p [ngStyle]="{'color': '#000', 'fontSize': '18px'}">
            The Menus have been… developed / tested / picked / cooked / chilled / salted / aged / frozen / beaten /
            whipped / poached / nitro’d / clipped / chured / cured / grown / wood-fired / roasted / seared / boiled /
            fermented / pickled / dehydrated
          </p>
          <p [ngStyle]="{'color': '#000', 'fontSize': '18px'}">… and most importantly - TASTED!</p>
        </div>

      </div>

    </div>

  </div>
</section><!-- End About Section -->


<section id="why-us" class="why-us">
  <div class="container">

    <div class="section-title">
      <h2>Why choose <span>Our Restaurant</span></h2>

    </div>

    <div class="row">

      <div class="col-lg-4">
        <div class="box">
          <span>01</span>
          <h4 [ngStyle]="{'fontSize': '18px'}">Lorem Ipsum</h4>
          <p>Ulamco laboris nisi ut aliquip ex ea commodo consequat. Et consectetur ducimus vero placeat</p>
        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="box">
          <span>02</span>
          <h4 [ngStyle]="{'fontSize': '18px'}">Customer Reviews</h4>
          <p>Dolorem est fugiat occaecati voluptate velit esse. Dicta veritatis dolor quod et vel dire leno para dest
          </p>
        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="box">
          <span>03</span>
          <h4 [ngStyle]="{'fontSize': '18px'}">Restaurant Ambience</h4>
          <p>Eating is one of the great beauties in life. One of my favorite recreations... the service, the ambience.
          </p>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Whu Us Section -->