<section id="gallery" class="gallery">
  <div class="container-fluid">

    <div class="section-title">
      <h2>Some photos from <span>Our Restaurant</span></h2>
    </div>

    <div class="row no-gutters">

      <div class="col-lg-4 col-md-4">
        <div class="gallery-item">
          <a class="gallery-lightbox">
            <img src="https://www.restaurantsatbains.com/images/rsb_content_dish_2_1000.jpg" alt="" class="img-fluid">
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-4">
        <div class="gallery-item">
          <a class="gallery-lightbox">
            <img src="assets/img/gallery/gallery-2.jpg" alt="" class="img-fluid">
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-4">
        <div class="gallery-item">
          <a class="gallery-lightbox">
            <img src="assets/img/gallery/gallery-3.jpg" alt="" class="img-fluid">
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-4">
        <div class="gallery-item">
          <a class="gallery-lightbox">
            <img src="assets/img/gallery/gallery-4.jpg" alt="" class="img-fluid">
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-4">
        <div class="gallery-item">
          <a class="gallery-lightbox">
            <img src="assets/img/gallery/gallery-5.jpg" alt="" class="img-fluid">
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-4">
        <div class="gallery-item">
          <a class="gallery-lightbox">
            <img src="assets/img/gallery/gallery-6.jpg" alt="" class="img-fluid">
          </a>
        </div>
      </div>

    </div>

  </div>
</section>