<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center header-transparent header-scrolled">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <div class="logo me-auto">
      <h1><a [ngStyle]="{'color': '#42273B', 'fontWeight': '600'}" routerLink="/">JustFoodie</a></h1>
      
    </div>

    <nav id="navbar" class="col-lg-6 navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto active" routerLink="/" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">Home</a></li>
        <li><a class="nav-link scrollto" routerLink="/menu" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">Menu</a></li>
        <li><a class="nav-link scrollto" routerLink="/booking" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">Reservation</a></li>
        <li><a class="nav-link scrollto" routerLink="/about" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">About</a></li>
        <li><a class="nav-link scrollto" routerLink="/contact" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">Contact</a></li>
      </ul>
    </nav>

    <ul *ngIf="logged === 'false'" class=" mobile-visible navbar font-change d-flex list-unstyled mt-3 pt-2">
      <li><a [ngStyle]="{'cursor': 'pointer'}" class="nav-link scrollto" routerLink="/register"
          routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }">Register</a></li>
      <li><a [ngStyle]="{'cursor': 'pointer'}" routerLink="/login" routerLinkActive="router-link-active"
          class="nav-link scrollto" [routerLinkActiveOptions]="{ exact: true }">Login</a></li>
    </ul>

    <div *ngIf="logged === 'true'" class="navbar d-flex">

      <h3 class="move-name" [ngStyle]="{'color': '#42273B', 'fontSize': '14px', 'marginTop': '1rem', 'fontWeight' : '600'}">
        Welcome, Samuel
      </h3>
      <div class="mobile-visible">
        <a (click)="logOut()" [ngStyle]="{'cursor': 'pointer', 'marginTop': '.3rem'}"
          class="nav-link scrollto mr-2">Logout</a>
      </div>
    </div>
      <i class="mt-2 navbar-toggler bi bi-list mobile-nav-toggle" data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"></i>
    <!-- </button> -->
    <div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" routerLink="/" id="offcanvasNavbarLabel">JustFoodie</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li><a class="nav-link nav-item" routerLink="/" data-bs-dismiss="offcanvas" aria-label="Close">Home</a></li>
          <li><a class="nav-link nav-item" routerLink="/menu" data-bs-dismiss="offcanvas" aria-label="Close">Menu</a>
          </li>
          <li><a class="nav-link nav-item" routerLink="/booking" data-bs-dismiss="offcanvas"
              aria-label="Close">Reservation</a></li>
          <li><a class="nav-link nav-item" routerLink="/about" data-bs-dismiss="offcanvas" aria-label="Close">About</a>
          </li>
          <li><a class="nav-link nav-item" routerLink="/contact" data-bs-dismiss="offcanvas"
              aria-label="Close">Contact</a></li>
          <li *ngIf="logged === 'true'"><a (click)="logOut()" class="nav-link nav-item" data-bs-dismiss="offcanvas"
              aria-label="Close">Logout</a></li>
          <li *ngIf="logged === 'false'"><a class="nav-link nav-item" routerLink="/login" data-bs-dismiss="offcanvas"
              aria-label="Close">Login</a></li>
              <li *ngIf="logged === 'false'"><a class="nav-link nav-item" routerLink="/register" data-bs-dismiss="offcanvas"
                aria-label="Close">Register</a></li>
        </ul>

      </div>
    </div>
  </div>
</header>