<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center header-transparent header-scrolled">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <div class="logo me-auto">
      <h1><a routerLink="/">JustFoodie</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>

    <nav id="navbar" class="col-md-6 navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto active" routerLink="/" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">Home</a></li>
        <li><a class="nav-link scrollto" routerLink="/menu" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">Menu</a></li>
        <li><a class="nav-link scrollto" routerLink="/booking" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">Booking</a></li>
        <li><a class="nav-link scrollto" routerLink="/about" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">About</a></li>
        <li><a class="nav-link scrollto" routerLink="/contact" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">Contact</a></li>



      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>

    <ul *ngIf="logged === 'false'" class="navbar font-change d-flex list-unstyled mt-3 pt-2">
      <li><a [ngStyle]="{'cursor': 'pointer'}" class="nav-link scrollto" 
        routerLink="/register" routerLinkActive="router-link-active" 
        [routerLinkActiveOptions]="{ exact: true }">Register</a></li>
      <li><a [ngStyle]="{'cursor': 'pointer'}" routerLink="/login" routerLinkActive="router-link-active"
          class="nav-link scrollto ml-2" [routerLinkActiveOptions]="{ exact: true }">Login</a></li>
    </ul>

    <div *ngIf="logged === 'true'" class="navbar d-flex">
      <a (click)="logOut()" [ngStyle]="{'cursor': 'pointer', 'marginRight': '1rem'}" class="nav-link scrollto mr-2">Logout</a>
      <h3 [ngStyle]="{'color': '#fff', 'fontSize': '18px', 'marginTop': '.7rem'}">
        Samuel Adeosun
      </h3>
      <a>
        <img src="../assets/img/sam.jpeg"
          [ngStyle]="{'width': '35px', 'height': '35px', 'borderRadius': '50%', 'marginTop': '.3rem'}">
      </a>
    </div>

  </div>
</header>