<section id="hero">
  <div class="hero-container">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner">
        <div class="carousel-item active" [ngStyle]="{'background': 'url(https://cdn.shopify.com/s/files/1/0519/1817/6420/products/Y2V0.jpg?v=1612778810)'}">
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown"><span>JustFoodie</span> Restaurant</h2>
              <p class="animate__animated animate__fadeInUp">Our creative, elevated food and beverage program combines satisfying staples with imaginative twists. From boozy brunches and 
                happy hours to family dinners, special occasions and everything in between, The JustFoodie has something for everyone.</p>
              <div>
                <a routerLink="menu" [ngStyle]="{'textDecoration': 'none'}" class="btn-menu animate__animated animate__fadeInUp scrollto">Our Menu</a>
                <a routerLink="booking" [ngStyle]="{'textDecoration': 'none'}" class="btn-book animate__animated animate__fadeInUp scrollto">Reservation</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>